@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}
.bg1{
	width:100%;
	height:150px;
	font-size:45px;
	background:#005ca1;
}


.bg1 p{
	text-align:center;
	float:right;
	line-height:150px;
	letter-spacing:20px;            /*字间距*/
	color:white;
	margin-right:100px;
}

.bg1 img{
	width:350px;
	height:100px;
	float:left;
	margin-top:40px;
}